header {
    background: #f7e8d8;
    padding: 20px 0;
}

.logo{
    width: 100px;
    margin: 0 10%;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 30px;
    right: 0;
}

nav li {
    display: inline;
    float: left;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #95daf8;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #f9cbd0;
    text-decoration: underline;
}

main {
    width: 940px;
    margin: 40px 10%;
}

form label, form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
    color: #778BBE;
}

.input-padrao {
    display: block;
    margin: 10 15px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
    color: #778BBE;
}

.enviar {
    width: 50%;
    padding: 15px 0;
    background: #95daf8;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: #f9cbd0;
    transform: scale(1.05);
}

table {
    margin: 20px 0;
}

thead {
    background:#95daf8;
    color:white;
    font-weight: bold;
}

td, th {
    border: 1px solid #778BBE;
    padding: 5px 5px;
}

td {
    color: #778BBE;
}

footer {
    text-align: center;
    background: #f7e8d8;
    padding: 40px 0;
}

.copyright {
    color: #95daf8;
    font-size: 13px;
    margin: 20px 0 0;
}

