body {
    font-family: 'Mali', cursive;
}

header {
    background: #f7e8d8;
    padding: 20px 0;
}

.logo{
    width: 100px;
    margin: 0 10%;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 30px;
    right: 0;
}

nav li {
    display: inline;
    float: left;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #95daf8;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #f9cbd0;
    text-decoration: underline;
}

.banner {
    width: 100%;
}

main {
    color: #778BBE;
}

.main-title {
    text-align: center; 
    background: #f59bad;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    padding: 7px;
}

.tools {
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
}

.about p {
    margin: 0 0 1em;
}

.about {
    padding: 3em 0 0;
    background: #FFFFFF;
    width: 940px;
    margin: 0 auto;
}

.about strong{
    font-weight: bold;
}

.about em {
    font-style: italic;
}

#goal {
    font-size: 20px;
}

em strong {
    color: #f492a5;
}

.map {
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.map p {
    margin: 0 0 2em;
    text-align: center;
}

.benefits {
    text-align: center;
    width: 940px;
    margin: 0 auto;
}

.benefits-content {
    width: 640px;
    margin: 0 auto;
}

.benefits-list {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin: 10px 0;
    font-size: 20px;
    background: #f9cbd0;
    list-style-type: U+2727;
}

.itens {
    font-style: italic;
    line-height: 1.6;
}

.itens:before {
    content:"✧"
}

.itens:first-child {
    font-weight: bold;
}

.benefits-image {
    margin: 10px 0 0;
    width: 52.5%;
}

.video {
    text-align: center;
    background: linear-gradient(#ffffff, #f7e8d8);
    padding: 20px 0;
}

footer {
    text-align: center;
    background: #f7e8d8;
    padding: 40px 0;
}

.copyright {
    color: #95daf8;
    font-size: 13px;
    margin: 20px 0 0;
}
