.about {
    background: #f7e8d8;
    padding: 35px;
}

#banner {
    width: 100%;
}

.main-title {
    padding-left: 20px;
}

.centered-title {
    text-align: center; 
    background: #f9cbd0;
}

p {
    text-align: center;
    background: #95daf8;
}

#goal {
    font-size: 20px;
}

em strong {
    color: #f492a5;
}

.benefits {
    background: #FFFFFF;
}

.itens {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.benefits_image {
    width: 50%;
}